@charset "UTF-8";
@import url("style.css");
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@700&display=swap');
h1{
	font-size: 1.90rem;
	padding-bottom: 0.2rem;
	font-family: 'Pridi', serif;
	font-weight: bold;
}
body > main > section > article > form > span{
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 0.75rem;
}
main{
	width: 100%;
	display: flex;
	justify-content: center;
}
main > section{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #d1c2c2;
	width: 30rem;
}
main > section > img{
	width: 20rem;
}
main > section > article{
	background-color: #515459;
	width: 100%;
	padding: 2.5rem;
}
main > section > article > form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.box-user{
	display: flex;
	flex-direction: column;
	width: 100%;
	color: #ffffff;
}
.box-user > span{
	margin: 0.25rem;
}
.box-user > input{
	margin: 0.25rem;
	font-size: 1.25rem;
	padding: 0.25rem;
}
.box-user > a{
	margin: 0.25rem;
	color: #ffffff;
}





